{% extends 'base.html.twig' %}

{% block title %}Neue Reservierung erstellen{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }

        /*
         over-ride "Weak" message, show font in dark grey
         */

        .progress-bar {
            color: #333;
        }

        /*
        Reference:
        http://www.bootstrapzen.com/item/135/simple-login-form-logo/
        */

        * {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            outline: none;
        }

        .form-control {
            position: relative;
            font-size: 16px;
            height: auto;
            padding: 10px;
        @include box-sizing(border-box);

        &:focus {
             z-index: 2;
         }
        }

        body {
            background: url({{ asset('images/bg.png') }}) no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        .login-form {
            margin-top: 60px;
        }

        form[role=edit] {
            color: #5d5d5d;
            background: #fffefc;
            padding: 26px;
            border-radius: 10px;
            -moz-border-radius: 10px;
            -webkit-border-radius: 10px;
        }
        form[role=edit] img {
            display: block;
            margin: 0 auto;
            margin-bottom: 35px;
        }
        form[role=edit] input,
        form[role=edit] button {
            font-size: 18px;
            margin: 16px 0;
        }
        form[role=edit] > div {
            text-align: center;
        }

        .form-links {
            text-align: center;
            margin-top: 1em;
            margin-bottom: 50px;
        }
        .form-links a {
            color: #fff;
        }
    </style>
    <div class="row" id="pwd-container">
        <div class="col-md-4"></div>

        <div class="col-md-4">

            <h1>Neue Benutzer erstellen</h1>

            {{ form_start(form, {'attr': {'role': 'edit'}}) }}
                <div class="form-group">
                    {{ form_row(form.username, { 'label': 'Benutzername:  ' }) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.fullname, { 'label': 'Name:' }) }}
                </div>

                <div class="form-group">
                    {{ form_row(form.email, { 'label': 'E-Mail:  ' }) }}
                </div>

                <div class="form-group">
                    {{ form_row(form.isActive, { 'label': 'Aktiv:  ' }) }}
                </div>

                <div class="form-group">
                    {{ form_row(form.plainPassword) }}
                </div>

                <button type="submit" class="btn btn-lg btn-primary btn-block">Benutzer anlegen</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}