{% extends 'base.html.twig' %}

{% block body %}

    <style>
        .reservation{
            position: absolute;
            top: 0;
            left: 0;
            z-index: 10;
            background-color: yellow;
        }
    </style>

    <script>
        function pad(n, width, z) {
            z = z || '0';
            n = n + '';
            return n.length >= width ? n : new Array(width - n.length + 1).join(z) + n;
        }
    </script>

    <script>
        function drawReservation(room, day, starttime, endtime, reservationid, editpath, name) {
            //alert("room: " + room + " day: " + day + " starttime: " + pad(starttime, 4));
            var id = day + "-" + room + "-" + pad(starttime, 4);
            var hour = Math.floor((endtime - starttime) / 100);
            var minute = ((endtime - starttime) - (hour * 100)) / 15;
            var height = ((hour * 4) + minute) * 20;
            $( "#" + id ).append( '<div id="roomreservation_' + reservationid + '" class="reservation" style="height: ' + height + 'px">Reservation for ' + name + '<br>' +
                starttime + ' - ' + endtime + '<br>' +
                '<a href="' + editpath  + '">Bearbeiten</a></div>' );
        }
    </script>

    {{ dump(users) }}
    {{ dump(rooms) }}
    {{ dump(roomDefaultReservations) }}
    {{ dump(days) }}

    <h1>{{ array_search(2, array_column(rooms, 'id')) }}</h1>

    <div class="container">
        <h1>Raum Reservierungs Liste (Wochen Vorlagen)</h1>

        <p><a class="btn btn-primary" href="{{ path('add_room_default_reservation') }}" role="button">Raum Reservierung Hinzufügen</a></p>

        <div class="panel-group" id="accordion">
            {% for daykey, day in days %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse_{{ day }}">{{ day }}</a>
                        </h4>
                    </div>
                    <div id="collapse_{{ day }}" class="panel-collapse collapse">
                        <div class="row">
                            <div class="col-sm-12" style="margin: 10px 0;">
                                {% for room in rooms %}
                                    <div class="col-sm-4" style="border-style: solid;border-width: 1px;border-color: blue; border-radius: 3px;">
                                        <h4>{{ room.roomName }}</h4>
                                        {% for hour in 6..23 %}
                                            {% for minute in 0..3 %}
                                                <div class="row" style="position: relative;">
                                                    <div class="col-sm-4">
                                                        {{ hour }}:{{ "%02d"|format(minute * 15) }}
                                                    </div>
                                                    <div class="col-sm-8" id="{{ daykey }}-{{ room.id }}-{{ "%02d"|format(hour) }}{{ "%02d"|format(minute * 15) }}">
                                                        &nbsp;
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div> <!-- <div id="collapse_day" class="panel-collapse collapse in"> -->
                </div> <!-- <div class="panel-group" id="accordion"> -->
            {% endfor %}
        </div> <!-- <div class="panel-group" id="accordion"> -->

        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Day</th>
                <th>Starttime</th>
                <th>Endtime</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>

            {% for roomDefaultReservation in roomDefaultReservations %}
                <tr>
                    <td><a href="{{ path('edit_room_default_reservation', { 'id': roomDefaultReservation.id }) }}">{{ roomDefaultReservation.id }}</a></td>
                    <td>{{ roomDefaultReservation.dayOfTheWeek }}</td>
                    <td>{{ roomDefaultReservation.starttime }}</td>
                    <td>{{ roomDefaultReservation.endtime }}</td>
                    <script>drawReservation('{{ roomDefaultReservation.roomId }}', '{{ roomDefaultReservation.dayOfTheWeek }}', '{{ "%02d"|format(roomDefaultReservation.starttime) }}', '{{ roomDefaultReservation.endtime }}', '{{ roomDefaultReservation.id }}', '{{ path("edit_room_default_reservation", { "id": roomDefaultReservation.id }) }}', '{{ roomDefaultReservation.userId }}');</script>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('edit_room_default_reservation', { 'id': roomDefaultReservation.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <ul>
            <li>
                <a href="{{ path('add_room_default_reservation') }}">Create a new roomDefaultReservation</a>
            </li>
        </ul>
    </div><!-- <div class="container"> -->

    <script>
        $(document).ready(function(){
            $("p").click(function(){
                $(this).hide();
            });
        });
    </script>



{% endblock %}
