{% extends 'base.html.twig' %}

{% block body %}
    
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Date</th>
                    <th>Zeit</th>
                    <th>Raum</th>
                    <th>User</th>
                    <th>Kontrolle</th>
                </tr>
            </thead>
            <tbody>
                {% for roomReservation in roomReservations %}
                    <tr>
                        <th scope="row">{{ roomReservation.id }}</th>
                        <td>{{ roomReservation.date }}</td>
                        <td>{{ roomReservation.startdatetime }} - {{ roomReservation.enddatetime }}</td>
                        <td>{{ roomReservation.room.name }}</td>
                        <td>{{ roomReservation.user.username }}</td>
                        <td id="control_{{ roomReservation.id }}">
                            
                            <div style="float: left; margin-right:10px;">
                                <span class="glyphicon glyphicon-ok-sign icon-success" onclick="updateRoomApprovel({{ roomReservation.id }}, '10');"> 
                            </div>
                            <div style="float: left;">
                                <span class="glyphicon glyphicon-remove-sign icon-error" onclick="updateRoomApprovel({{ roomReservation.id }}, '-10');">
                            </div>
                            
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            $(".nav li").removeClass("active");  
            $('#admin').addClass('active');                       
            $('#roomreservationapprovelist').addClass('active');
        });
    </script>
        
    <script>
        function updateRoomApprovel(id, approvel) {
            console.log('ID:' + id);
            console.log('approvel state: ' + approvel);

            $.ajax({
                type: "POST",
                url: "{{ path('roomreservation_update_approve')}}",
                data : {
                    RoomReservationId: id,
                    approvelstate: approvel
                },
                success: function(data){
                    console.log('success' + id);
                    var htmltext = "approved";
                    if(approvel == -10) {
                        htmltext = "abgelehnt";
                    }
                    $("#control_" + id).html(htmltext);                  
                },
                error: function(XMLHttpRequest, textStatus, errorThrown){
                    alert('Error : ' + errorThrown);       
                }
            });
        }
    </script>
{% endblock %}