{% extends 'base.html.twig' %}

{% block body %}

    <style>
        .reservation{
            position: absolute;
            top: 0;
            left: 20px;
            z-index: 10;
            background-color: yellow;
        }
    </style>

    <!--{{ dump(loggedinuser) }} <br>
    {{ loggedinuser.username }}-->

    <div class="container">
        <div class="row">
            <h1>Roomreservations / {{ dayname }}</h1>

            <div style="margin-bottom: 15px;">
                {% for roomReservationdisplay in roomReservations %}
                    <div>
                        {{ roomReservationdisplay.startdatetime }} - {{ roomReservationdisplay.enddatetime }} in {{ roomReservationdisplay.room.name }}
                        {% if roomReservationdisplay.approved == 10 %}
                            <span class="glyphicon glyphicon-ok-sign icon-success" />
                        {% elseif roomReservationdisplay.approved == -1 %}
                            <span class="glyphicon glyphicon-question-sign" />
                        {% elseif roomReservationdisplay.approved == -10 %}
                                <span class="glyphicon glyphicon-remove-sign icon-error" />
                        {% endif %}

                    </div>
                {% endfor %}
            </div>

            <div style="margin-bottom: 15px;">

                {% for roomDefaultReservation in roomDefaultReservations %}
                    {% if roomDefaultReservation.user.id == loggedinuser.id %}

                        <div>
                            {{ form_start(form, {'attr': {'class': 'form-inline'}} ) }}

                            <div style="display:none;">
                                {{ form_row(form.date, {'label': 'Date', 'value': date|trim}) }}
                                {{ form_row(form.user, {'label': 'User', 'value': loggedinuser.id|trim}) }}
                                {{ form_row(form.room_default_reservation_id, {'label': 'room_default_reservation_id', 'value': roomDefaultReservation.id|trim}) }}
                            </div>

                            <div>
                                <div class="form-group">
                                    {{ form_row(form.startdatetime, {'label': 'Start Zeit', 'value': roomDefaultReservation.starttime|trim }) }}
                                </div>
                                <div class="form-group">
                                    {{ form_row(form.enddatetime, {'label': 'End Zeit', 'value': roomDefaultReservation.endtime|trim }) }}
                                </div>
                                <div class="form-group">
                                    {{ form_row(form.room, {'label': 'Raum', 'value': roomDefaultReservation.room.id|trim }) }}
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Reservieren" />
                                </div>
                            </div>
                            {{ form_end(form) }}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>


        </div>
        <div class="row">
            <div class="col-sm-2">
                {{ previouswdate }}
            </div>
            <div class="col-sm-2">
                {{ previousdate }}
            </div>
            <div class="col-sm-4">
                <div class="control-group">
                    <div class="controls">
                        <div class="input-group">
                            <input readonly id="date-picker-2" type="text" class="date-picker form-control" value="{{ date }}" />
                            <label for="date-picker-2" class="input-group-addon btn"><span class="glyphicon glyphicon-calendar"></span>

                            </label>
                        </div>
                    </div>
                </div> <!-- <div class="control-group"> -->
            </div>
            <div class="col-sm-2">
                {{ nextdate }}
            </div>
            <div class="col-sm-2">
                {{ nextwdate }}
            </div>
        </div> <!-- <div class="row"> -->
    </div> <!-- <div class="container"> -->

    <div class="row">
        <div class="col-sm-12" style="margin: 10px 0;">
            {% for room in rooms %}
                <div class="col-sm-4" style="border-style: solid;border-width: 1px;border-color: blue; border-radius: 3px;">
                    <h4>{{ room.name }}</h4>
                    {% for hour in 6..23 %}
                        {% for minute in 0..3 %}
                            <div class="row" style="position: relative;">
                                <div class="col-sm-4">
                                    {{ hour }}:{{ "%02d"|format(minute * 15) }}
                                </div>
                                <div class="col-sm-8" id="{{ room.id }}-{{ "%02d"|format(hour) }}{{ "%02d"|format(minute * 15) }}">
                                    &nbsp;
                                </div>
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div> <!-- <div class="row"> -->

{% endblock %}

{% block javascripts %}
    <script>
        $(".date-picker").datepicker({
            dateFormat: "dd-mm-yy",
            onSelect: function(dateText) {
                $(this).change();
            }
        })
            .change(function() {
                window.location.href = "/roomreservation/" + this.value;
            });
    </script>
    <script>
        $(document).ready(function () {
            $(".nav li").removeClass("active");//this will remove the active class from
            $('#roomreservation').addClass('active');
        });
    </script>

    <script>
        function pad(n, width, z) {
            z = z || '0';
            n = n + '';
            return n.length >= width ? n : new Array(width - n.length + 1).join(z) + n;
        }
    </script>

    <script>
        function drawDefaultReservation(room, starttime, endtime, reservationid, editpath, name) {
            var id = room + "-" + pad(starttime, 4);
            var hour = Math.floor((endtime - starttime) / 100);
            var minute = ((endtime - starttime) - (hour * 100)) / 15;
            var height = ((hour * 4) + minute) * 20;
            $( "#" + id ).append( '<div id="roomreservation_' + reservationid + '" class="reservation" style="height: ' + height + 'px; left:-20px;z-index:-1;background-color:rgba(0, 0, 255, 0.3);">Reservation for ' + name + '<br>' +
                starttime + ' - ' + endtime + '<br>' +
                '<a href="' + editpath  + '">Bearbeiten</a></div>' );
        }
    </script>

    <script>
        function drawReservation(room, starttime, endtime, reservationid, editpath, name) {
            var id = room + "-" + pad(starttime, 4);
            var hour = Math.floor((endtime - starttime) / 100);
            var minute = ((endtime - starttime) - (hour * 100)) / 15;
            var height = ((hour * 4) + minute) * 20;
            $( "#" + id ).append( '<div id="roomreservation_' + reservationid + '" class="reservation" style="height: ' + height + 'px">Reservation for ' + name + '<br>' +
                starttime + ' - ' + endtime + '<br>' +
                '<a href="' + editpath  + '">Bearbeiten</a></div>' );
        }
    </script>

    {% for roomDefaultReservation in roomDefaultReservations %}
        <script>drawDefaultReservation('{{ roomDefaultReservation.room.id }}', '{{ "%02d"|format(roomDefaultReservation.starttime) }}', '{{ roomDefaultReservation.endtime }}', '{{ roomDefaultReservation.id }}', '{{ path("roomdefaultreservation_edit", { "id": roomDefaultReservation.id }) }}', '{{ roomDefaultReservation.user.name }}');</script>
    {% endfor %}

    {% for roomReservationdisplay in roomReservations %}
        <script>drawReservation('{{ roomReservationdisplay.room.id }}', '{{ "%02d"|format(roomReservationdisplay.startdatetime) }}', '{{ roomReservationdisplay.enddatetime }}', '{{ roomReservationdisplay.id }}', '{{ path("roomdefaultreservation_edit", { "id": roomReservationdisplay.id }) }}', '{{ roomReservationdisplay.user.name }}');</script>
    {% endfor %}

{% endblock %}
